* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: darkolivegreen;
}


#start-button {
    position: absolute;
    margin-top:15% ;
    background-color: darkolivegreen;
    width: 15%;
    height: 10%;
    border-radius: 20px;
    font-size: x-large;
    border-color: white;
    color: white;
}
#start-button:hover{
    background-color: white;
    color: darkolivegreen;
    border-color: darkolivegreen;
}

.start-screen {
    display: flex;
    position: absolute;
    margin-top: 10%;
    margin-left: 25%;
    background-color: whitesmoke;
    width: 50%;
    height: 50%;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}

.display-container {
    margin-top: 10%;
    margin-left: 25%;
    position: absolute;
    background-color: whitesmoke;
    width: 50%;
    height: 50%;
    border-radius: 25px;

}

.headofdisplay {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 18%;
    font-size: x-large;
    font-style: italic;
    color: green;
}
.number-of-count {
    display: flex;
    margin-right: 25%;
}

.timer-div {
    flex-direction: column;
    display: flex;
    margin-left: 25%;
}

.container {
    display: flex;
    border: 2px solid darkolivegreen;
    height: 70%;
    width: 100%;
}

#next-button {
    background-color:darkolivegreen;
    height: 80%;
    width: 15%;
    border-radius: 20px ;
    border-color: white;
    color: white;
    font-size: x-large;

}
#next-button:hover {
    background-color: green;
    color: whitesmoke;
}

.buttoncontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 11%;
}

.container button {
    width: 80%;
    height: 17%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 10px;
    font-size: x-large;

    border-color: white;
}

p.question {
    font-size: xx-large;
    color: green;
}

.container button:hover {
    background-color: rgb(202, 238, 202);
    font-size: xx-large;
}

.container-mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}


.score-container {
    margin-top: 10%;
    margin-left: 25%;
    position: absolute;
    background-color: white;
    width: 50%;
    height: 50%;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    

}

.score {
    display: flex;
    width: 100%;
    height: 80%;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.score p{
    font-size: xx-large;
    color: green;
    font-style: italic;
}

#restartbutton {
    margin-top: 5%;
    background-color: darkolivegreen;
    width: 15%;
    height: 12%;
    border-radius: 20px;
    font-size: x-large;
    border-color: white;
    color:white;
}
#restartbutton:hover {
    background-color: white;
    color: darkolivegreen;
    border-color: darkolivegreen;

}

.hide {
    display: none;
}

#aboutgame {
    color: darkolivegreen;
    font-size: xx-large;
    padding: 10px;
    position: absolute;
    top: 10%;
    font-style: italic;
}


.incorrect{
    background-color: white;
    color: red;
    border-color: red;
}

.correct{
    background-color: white;
    color: green;
    border-color: green;
}



